.group-create
  height: 100%
  flex-grow: 1
  border-right: 1px solid #7CA9E6
  display: flex
  flex-direction: column
  background: #7CA9E6
  color: #ffffff

  .notice
    font-size: 12px
    color: #f7faff
    text-align: center
    padding: 18px

  .rooms
    flex-grow: 1
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    scrollbar-width: none

  .rooms::-webkit-scrollbar
    display: none

@media screen and (min-width: 1200px)
  .group-create
    max-width: 360px
    min-width: 360px

@media screen and (min-width: 700px) and (max-width: 1199px)
  .group-create
    max-width: 300px
    min-width: 300px

@media screen and (max-width: 699px)
  .group-create
    width: 100%

.theme.light .group-create
  background: #E8F0FF
  color: #003a91
  border-right: 1px solid rgba(0, 58, 145, 0.2)

.theme.dark .group-create
  background: #3A75C4
  color: #ffffff
  border-right: 1px solid rgba(255, 255, 255, 0.2)

.active
  color: #ffffff !important
  font-weight: 700

.selection-text
  text-align: center
  padding: 12px
  font-size: 14px
  background: #5F91D8
  color: #ffffff
  border-radius: 6px
  margin: 8px 0

.selection-text.error
  background: #FFE3C4
  color: #DA7D02
  font-weight: 600

.create-button
  background: #ffffff
  color: #5F91D8
  width: 100%
  padding: 10px 0
  border-radius: 6px
  font-weight: 600
  cursor: pointer
  transition: all 0.3s ease

  &:hover
    background: #3A75C4
    color: #ffffff
    opacity: 1    width: 100%

.theme.light .group-create
  background: #e6edff
  color: #003a91
  border-right: 1px solid rgba(0, 58, 145, 0.2)

.theme.dark .group-create
  background: #0047AB
  color: #ffffff
  border-right: 1px solid rgba(255, 255, 255, 0.2)

.active
  color: #ffffff !important
  font-weight: 700

.selection-text
  text-align: center
  padding: 12px
  font-size: 14px
  background: #2E62AF
  color: #ffffff
  border-radius: 6px
  margin: 8px 0

.selection-text.error
  background: #ffe3c4
  color: #DA7D02
  font-weight: 600

.create-button
  background: #ffffff
  color: #3A75C4
  width: 100%
  padding: 10px 0
  border-radius: 6px
  font-weight: 600
  cursor: pointer
  transition: all 0.3s ease

  &:hover
    background: #2E62AF
    color: #ffffff
    opacity: 1    background: #003a91
    color: #ffffff
    opacity: 1
